.app{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 1.4rem;
  box-sizing: border-box;

  border: 1px double black;
}

.min-h-100vh{
  min-height: 100vh;
}

@media screen and (max-width: 1024px){
 .container{
   padding: 0.4rem 0.8rem;
 }
}