.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 1.4rem;
  box-sizing: border-box;

}

.min-h-100vh{
  min-height: 100vh;
}

.controls {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 1rem;
  position: fixed;
  top: 0;
  background-color: #dddddd;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  min-height: 50px;
  box-shadow: 0.1rem 0.22rem 0.4rem rgba(0, 0, 0, 0.25);
  border: #bababa;
  transition: box-shadow 0.4s ease-in-out;
}

.controls:hover{
  box-shadow: 0.2rem 0.44rem 0.44rem rgba(0, 0, 0, 0.25);
}


.controls-element {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.controls-element:last-child{
  justify-content: end;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.controls-input{
  padding: 0.5rem 0.76rem;
  border-radius: 0.66rem;
  outline: none;
  border-color: transparent;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(103, 103, 103, 0.25);
  min-width: 130px;
}

.controls-button{
  padding: 0.5rem 0.76rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
  border-radius: 0.66rem;
  border-color: #bababa;
  cursor: pointer;
  user-select: none;
}

.controls-button:hover {
  transform: scale(0.9)
}

.table{
  width: 95%;
  overflow: auto;
  position: absolute;
  bottom: 0;
  height: 80%;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty-table-h{
  font-size: 12rem;
  text-align: center;
  user-select: none;
}

@media screen and (max-width: 1024px){
 .container{
   padding: 0.4rem 0.8rem;
 }
}

@media screen and (max-width: 820px){
  .controls {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 0;
    padding: 0.22rem 1rem;
  }
  .controls-element{
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .controls-input{
    margin: 0.4rem 0.2rem;
  }
  .controls-button{
    width: 130px;
  }
  .table{
    width: 100%;
    border: none
  }
  .empty-table-h{
    font-size: 8rem;
    text-align: center;
  }
}

